<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
</head>
<body>
Logged as <p th:text="${currentUser}"/>

<!--Logged as (thymeleaf) <p sec:authentication="name"/>-->

<a th:href="@{/logout}">Logout</a>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin/posts/create}">Add new post</a>
</div>

<table>
    <thead>
    <tr>
        <th>Post Author</th>
        <th>Post Title</th>
<!--        <th>Add Picture</th>-->
<!--        <th>Add Movie</th>-->
<!--        <th>pic Text</th>-->
<!--        <th>Release Date</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.postAuthor}"/>
        <td th:text="${post.postTitle}"/>
<!--        <td th:text="${post.addPic}"/>-->
<!--        <td th:text="${post.addMovie}"/>-->
<!--        <td th:text="${post.picText}"/>-->
<!--        <td th:text="${post.releaseDate}"/>-->
        <td><a th:href="@{/posts/{postTitle}/(postTitle=${post.postTitle})}">Details</a></td>
        <td><a th:href="@{/posts/comment/{id}/(id=${post.id})}">Comment</a> </td>
        <td><a th:href="@{/posts/edit/{postTitle}/(postTitle=${post.postTitle})}">Edit</a></td>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <td><a th:href="@{/admin/posts/delete/{postTitle}/(postTitle=${post.postTitle})}">Delete</a> </td>
        </div>
    </tr>
    </tbody>
</table>
</body>
</html>